* {
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #fff;
    color: #333;
    touch-action: manipulation;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.title-label {
    font-size: 18px;
    position: absolute;
    color: #ff0000;
    border-radius: 10px;
    padding: 2px 8px;
    transform: rotate(12grad) translate(-20px, 0px);
}

.rules {
    max-width: 320px;
    margin: 0 auto;
}

.rules-btn {
    border: 0;
    background: transparent;
    font: inherit;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 20px;
}

.rules .rule-btn {
    display: inline-block;
    color: #555;
    background: #eee;
    border-radius: 8px;
    padding: 4px 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.box {
    height: 60px;
    font-size: 48px;
    line-height: 60px;
    border: 1px solid #a0a0a0;
    background: #f7f7f7;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
}

*[data-color="yellow"] {
    background: #f1f136 !important;
}

*[data-color="yellow"] {
    background: #f1f136 !important;
}

*[data-color="green"] {
    background: #22bd22 !important;
}

*[data-color="grey"] {
    background-color: #b7b7b7 !important;
}

.result-cont {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.secret {
    font-size: 18px;
    margin: 8px auto 0;
    display: none;
}

.restart-btn {
    border: 0;
    margin-left: auto;
    color: #555;
    background: #eee;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 18px;
}

.keyboard {
    padding: 0 4px;
}

.row {
    display: flex;
    gap: 4px;
}

.row:not(:first-child) {
    margin-top: 4px;
}

.keyboard button {
    text-transform: uppercase;
    flex: 1 1 100%;
    border: 0;
    color: #555;
    background: #eee;
    border-radius: 8px;
    margin: 0;
    padding: 3px 0;
    font-size: 16px;
    line-height: 44px;
}

button[disabled] {
    opacity: 0.3;
}

button:active {
    opacity: 0.7;
}
